.section
  .container
    .navigation
      %nav.nav
        = active_link_to "Dashboard", backend_root_path, class: 'nav__link', disable_affinity: true
        = active_link_to "Users", backend_users_path, class: 'nav__link'
        = active_link_to "Games", "#", class: 'nav__link'
        = active_link_to "Achievements", "#", class: 'nav__link'
        = active_link_to "Characters", backend_characters_path, class: 'nav__link'
        = active_link_to "FAQs", backend_faqs_path, class: 'nav__link'
        = active_link_to "News", backend_news_index_path, class: 'nav__link'
