.section
  .container
    .navigation
      .navigation__searchbar
        = text_field(:post, :search, size: 20, placeholder: 'Search for Users..')
      %nav.nav
        = link_to "Dashboard", backend_root_path, class: 'nav__link nav__link--active'
        = link_to "Players", backend_users_path, class: 'nav__link'
        = link_to "Games", "#", class: 'nav__link'
        = link_to "Achievements", "#", class: 'nav__link'
        = link_to "Characters", backend_characters_path, class: 'nav__link'
        = link_to "FAQs", backend_faqs_path, class: 'nav__link'
        = link_to "News", backend_news_index_path, class: 'nav__link'

