.profile
  .profile__banner
    .profile-banner
      = image_tag (@user&.avatar&.attached? ? @user&.avatar : "default.jpg")
    .profile-transparent-hr
    .profile-data
      .profile-data__avatar
        .profile-avatar
          = image_tag (@user&.avatar&.attached? ? @user&.avatar : "default.jpg")
          - if policy([:frontend, @user]).upload_image?
            = form_for [:frontend, @user], url: frontend_user_upload_image_path(@user), method: :post do |f|
              = f.file_field :avatar
              .avatar-upload= "Avatar<br>ändern".html_safe
        .profile-avatar-outline
        .profile-avatar-status

      .profile-data__details
        .profile-details
          %h1.profile-details__username= @user.username
          .profile-details__description= @user.description
          %date.profile-details__date= @user.created_at.strftime("Registriert seit %d. %b. %Y")
.container
  .tabs
    %ul.tabs__list{role: "tablist"}
      %li.tabs__item{role: "presentation"}
        = link_to "Erfolge", "#erfolge", {class: 'tabs__link', "aria-controls": "erfolge", "aria-selected": "true", role: "tab", tabindex: "0"}
      %li.tabs__item{role:  "presentation"}
        = link_to "Spielverlauf", "#", {class: 'tabs__link', "aria-controls": "spielverlauf", "aria-selected": "false", href: "#spielverlauf", role: "tab", tabindex: "-1"}
    %section#erfolge.tabs__section{"aria-hidden": "false", "aria-labelledby": "tab-erfolge", role: "tabpanel"}
      .tabs__body
        .achievements
          - @user.accomplished_achievements.uniq(&:achievement).each do |achievement|
            = render 'frontend/users/tabs/achievement-card', achievement: achievement
    %section#spielverlauf.tabs__section{"aria-hidden": "true", "aria-labelledby": "tab-spielverlauf", role: "tabpanel"}
      .tabs__body
        .games
          - @user.games.each do |game|
            = render 'frontend/users/tabs/game-card', game: game
