.profile
  .profile__banner
    .profile-banner
      = image_tag (@user.avatar.attached ? @user.avatar : "default.jpg")
    .profile-transparent-hr
    .profile-data
      .profile-data__avatar
        .profile-avatar
          = image_tag (@user.avatar.attached ? @user.avatar : "default.jpg")
        .profile-avatar-outline
        .profile-avatar-status

      .profile-data__details
        .profile-details
          .profile-details__title= "Hero"
          %h1.profile-details__username= @user.username
          %date.profile-details__date= @user.created_at.strftime("Registriert seit %d. %b. %Y")
