.user-card
  .container
    .user-card__content
      .user-card__info
        .user-card__avatar
          - if @user.avatar.attached?
            = image_tag(@user.avatar, size: 200, class: "avatar__img avatar__img--user-card")
          - else
            = image_tag("default.png", size: 200, class: "avatar__img avatar__img--user-card")
        .user-card__wrapper
          .user-card__username
            %p="#{@user.username}'s Profile"
          .user-card__description
            %p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, repellendus?
          = form_for [:frontend, @user], url: frontend_user_upload_image_path(@user), method: :post do |f|
            = f.file_field :avatar
            = f.submit "Submit"