%section#info.section.section--dark
  .container
    .head-text.text-center
      .head-text__overline= t('.overline')
      %h2.head-text__headline= t('.headline')
      %p.head-text__description.head-text__description--intro.mt-2= t('.description')
%section#info.section
  .container
    .head-text.text-center
      .head-text__overline Eine Story
    .story-text
      .story-text__text
        %p Es war ein ganz normaler Tag in dem schneegekrönten Land "Aronia". Alle Einwohner lebten in Harmonie und Frieden, bis eines Tages das Eis an den Polkappen anfing zu schmelzen und böse Eisbows auftauten.
        = image_tag "story/eisbows-attacke.png", class: 'story-image'
        %p Es hat nicht lange gedauert bis sie begriffen hatten, dass ihre Zeit gekommen war um zuzuschlagen und das friedliche Land in Chaos und Verderben zu stürzen.
        = image_tag "story/eisbows-attacke2.png", class: 'story-image'
        %p Ob die tapfere Heldin Charolin es schaffen wird, den Anführer ausfindig zu machen und das Land von den bösen Kreaturen zu befreien?
        %p
          %b Wird das Land Aronia überleben?
%section#characters.section.section--no-x-padding.mb-5
  - Character.all.each do |character|
    .character
      .character__container
        .character__image
          = show_svg character&.image if character&.image&.attached?
        .character__content
          .character__overline= character.title
          %h3.character__headline= character.name
          .character__description.mt-1= h(raw character.quote)
