%section#info.section.section--dark
  .container
    .head-text.text-center
      .head-text__overline= t('.overline')
      %h2.head-text__headline= t('.headline')
      %p.head-text__description.head-text__description--intro.mt-2= t('.description')
%section#info.section
  .container
    .head-text.text-center
      .head-text__overline Eine Story
    .story-text
      .story-text__text
        %p
          %b> Lorem ipsum
          , dolor sit amet consectetur adipisicing elit. Vero nihil aliquid unde exercitationem accusantium eos fugit temporibus illo eius praesentium laboriosam non reprehenderit, sequi, id quam consequuntur natus sit! Omnis?
        = image_tag("placeholder/p-1.png")
        %p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero nihil aliquid unde exercitationem accusantium eos fugit temporibus illo eius praesentium laboriosam non reprehenderit, sequi, id quam consequuntur natus sit! Omnis? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero nihil aliquid unde exercitationem accusantium eos fugit temporibus illo eius praesentium laboriosam non reprehenderit, sequi, id quam consequuntur natus sit! Omnis?
        %p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae impedit aspernatur ratione perferendis. Numquam, debitis quam! Fugit, optio, et impedit aliquid dolorum temporibus voluptates quis voluptatem adipisci, sunt saepe cum.
        %p
          %b Vitae impedit aspernatur ratione!
%section#characters.section.section--no-x-padding.mb-5
  - Character.all.each do |character|
    .character
      .character__container
        .character__image
          = show_svg character&.image if character&.image&.attached?
        .character__content
          .character__overline= character.title
          %h3.character__headline= character.name
          .character__description.mt-1= h(raw character.quote)
