%section#info.section
  .container
    .head-text.text-center
      .head-text__overline= t('.overline')
      %h2.head-text__headline= t('.headline')
    .faq
      .faq__content
        %div
          - Faq.where.not(category: 'draft').group_by(&:category).each do |faqs|
            %h4.mt-2= faqs.first
            - faqs.last.each do |faq|
              .faq__question
                %details
                  %summary= faq.question
                  %p.content= faq.answer
      .faq__sidebar
        = image_tag("icons/faq.png")
        %p.mt-2= t('.sidebar_text')
        %a.mt-2(href="mailto:support@freeze-together.xyz") support@freeze-together.xyz
