%section#info.section
  .container
    .head-text.text-center
      .head-text__overline Die besten Freezer
      %h2.head-text__headline Leaderboard
    .leaderboard
      .leaderboard__item.leaderboard__item--header
        %div
        %div Name
        %div Punkte
        %div Coins
        %div Erfolge
        %div Zeit
      - Game.all.order(time: :asc, score: :desc, coin: :desc, created_at: :asc).limit(100).each.with_index(1) do |game, index|
        .leaderboard__item
          %div= "##{index}"
          %div= link_to game.user.username, frontend_user_path(game.user)
          %div= game.score
          %div= game.coin
          %div= game.accomplished_achievements.count
          %div= game.time
