%section
  .container
    .login-register
      .head-text.text-center
        %h2.head-text__headline Freeze Login
        %p.head-text__description Das neue Koop-Abenteuer mit deinen Freunden!
      = form_for [:backend, @news], class: 'login-form' do |f|
        = f.text_field :title, placeholder: "Title Of News"
        = f.text_field :description, placeholder: "Short Description"
        = f.rich_text_area :content, placeholder: "Where is the content men?"
        = f.submit "Publish News", class: 'button button--accent'