%footer.footer
  .footer__top
    .footer-weblinks
      %h3 Freeze Links
      %ul.weblinks
        %li.weblinks__item= link_to t('layouts.frontend.header.gameinfo') , '#'
        %li.weblinks__item= link_to t('layouts.frontend.header.media'), '#'
        %li.weblinks__item= link_to t('layouts.frontend.header.news'), frontend_news_index_path
        %li.weblinks__item= link_to t('layouts.frontend.header.leaderboard'), '#'
        %li.weblinks__item= link_to t('layouts.frontend.header.help'), '#'
        %li.weblinks__item= link_to t('layouts.frontend.header.login'), '#'
        %li.weblinks__item= link_to t('layouts.frontend.header.download'), '#'
    .footer-sm
      %ul.social-media-list
        %li.social-media-list__item= link_to image_tag('/assets/icons/instagram.svg'), '#'
        %li.social-media-list__item= link_to image_tag('/assets/icons/twitter.svg'), '#'
        %li.social-media-list__item= link_to image_tag('/assets/icons/discord.svg'), '#'
  .footer__bottom
    .footer-container
      .footer-container__logo
        = link_to (image_tag('/assets/logos/logo.svg')), frontend_root_path
      .footer-container__copyright
        .footer-copyright
          .footer-copyright__links
            %ul.copyright-links
              %li.copyright-links__item= link_to t('frontend.footer.impressum'), '#'
              %li.copyright-links__item= link_to t('frontend.footer.legal'), '#'
              %li.copyright-links__item= link_to t('frontend.footer.updates'), '#'
              %li.copyright-links__item= link_to t('frontend.footer.user_agreement'), '#'
              %li.copyright-links__item= link_to t('frontend.footer.policies'), '#'
              %li.copyright-links__item= link_to t('frontend.footer.cookies'), '#'
          .footer-copyright__text Copyright &copy; 2022 - Freeze Together.
    .footer-images
      = image_tag('/assets/icons/usk12.png', height: 75 )

