%footer.footer
  .footer__top
    .footer-weblinks
      %h3 Freeze Links
      %ul.weblinks
        %li.weblinks__item= link_to 'Startseite', frontend_root_path
        %li.weblinks__item= link_to 'Spielinfo', '#'
        %li.weblinks__item= link_to 'Medien', '#'
        %li.weblinks__item= link_to 'Neuigkeiten', frontend_news_index_path
        %li.weblinks__item= link_to 'Bestenliste', '#'
        %li.weblinks__item= link_to 'Hilfe', '#'
    .footer-sm
      %ul.social-media-list
        %li.social-media-list__item= link_to image_tag('/assets/icons/instagram.svg'), '#'
        %li.social-media-list__item= link_to image_tag('/assets/icons/twitter.svg'), '#'
        %li.social-media-list__item= link_to image_tag('/assets/icons/discord.svg'), '#'
  .footer__bottom
    .footer-container
      .footer-container__logo
        = link_to (image_tag('/assets/logos/logo.svg')), frontend_root_path
      .footer-container__copyright
        .footer-copyright
          .footer-copyright__links
            %ul.copyright-links
              %li.copyright-links__item= link_to 'Rechtliche Hinweise', '#'
              %li.copyright-links__item= link_to 'Nutzervereinbarung', '#'
              %li.copyright-links__item= link_to 'Spiel-Updates', '#'
              %li.copyright-links__item= link_to 'Datenschutz- und Cookie Richtline (deine Datenschutzrechte)', '#'
              %li.copyright-links__item= link_to 'Cookie Präferenzen', '#'
          .footer-copyright__text Copyright &copy; 2022 - Freeze Together.
    .footer-images
      = image_tag('/assets/icons/usk12.png', height: 75 )

