
%header.main-header
  %nav.main-nav
    .main-nav__navigation
      = link_to (image_tag('/assets/logos/logo-text.svg')), frontend_root_path, class: 'main-nav__logo'
      %ul.nav-list
        %li.nav-list__item.nav-list__item--selected= link_to t('.gameinfo'), frontend_gameinfo_path
        %li.nav-list__item= link_to t('.news'), frontend_news_index_path
        %li.nav-list__item= link_to t('.leaderboard'), frontend_leaderboard_path
        %li.nav-list__item= link_to t('.help'), frontend_help_path
    .main-nav__buttons
      - unless logged_in?
        = link_to "#{image_tag('/assets/icons/login.png')} #{t('.login')}".html_safe, login_path, class: 'button button--login'
      - else
        = link_to t('.logout').html_safe, logout_path, class: 'button button--login'
        = link_to (image_tag(Current.user&.avatar&.attached? ? Current.user&.avatar : "default.jpg")), frontend_user_url(Current.user), class: 'button button--avatar mr-2'
      = link_to "#{t('.download')} #{image_tag('/assets/icons/download.png')}".html_safe, frontend_download_path, class: 'button button--download'
