
%header.main-header
  %nav.main-nav
    .main-nav__navigation
      = link_to (image_tag('/assets/logos/logo-text.svg')), frontend_root_path, class: 'main-nav__logo'
      %ul.nav-list
        %li.nav-list__item.nav-list__item--selected= link_to t('.gameinfo'), frontend_spielinfo_path
        %li.nav-list__item= link_to t('.media'), "#"
        %li.nav-list__item= link_to t('.news'), frontend_news_index_path
        %li.nav-list__item= link_to t('.leaderboard'), frontend_bestenliste_path
        %li.nav-list__item= link_to t('.help'), frontend_hilfe_path
    .main-nav__buttons
      = link_to "#{image_tag('/assets/icons/login.png')} #{t('.login')}".html_safe, login_path, class: 'button button--login'
      = link_to "#{t('.download')} #{image_tag('/assets/icons/download.png')}".html_safe, '#', class: 'button button--download'
