= form_for [:backend, @user] do |f|
  .form__item
    %h4.heading= "#{controller.action_name} #{@user.class.name}"
  .form__item
    = f.label :avatar
    = image_tag (@user&.avatar&.attached? ? @user&.avatar : "default.png"), height: 100
    = f.file_field :avatar
  .form__item
    = f.label :username
    = f.text_field :username
  .form__item
    = f.label :description
    = f.text_field :description
  .form__item
    = f.label :email
    = f.text_field :email
  .form__item
    = f.label :email_confirmed
    = f.check_box :email_confirmed
  .form__item
    = f.label :role
    = f.select :role, options_for_select(User.roles, selected: User.roles[@user.role])
  .form__item
    = f.label 'New Password'
    = f.password_field :password
  .form__buttons
    - if controller.action_name == 'edit'
      = f.submit 'Update'
    - else
      = f.submit 'Create'

