.edit
  .form
    .form__content
      = render 'form', user: @user
  .relations
    = link_to "<span>#{@user.username} ></span> Games".html_safe, "#", class: 'relations__link'
    = link_to "<span>#{@user.username} ></span> Achievements".html_safe, "#", class: 'relations__link'
