%section
  .container
    = form_for [:backend, @character] do |f|
      = f.file_field :image
      = f.text_field :title, placeholder: "Title"
      = f.text_field :name, placeholder: "Name"
      = f.text_field :description, placeholder: "Description"
      = f.submit "Update Character", class: 'button button--accent'