.games__item
  %div= game.created_at.strftime("%d.%m.%Y")
  %div= game.score
  %div= game.coin
  %div= game.accomplished_achievements.count if game.accomplished_achievements
  %div= game.time || '00:00:00:00'
