<!DOCTYPE html>
<html>
  <head>
    <title>Freeze Together</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://icons-for-free.com/iconfiles/png/512/of+thrones+game+thrones+series+ice+sword+weapon-1320568557491422230.png" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
