!!!
%html
  %head
    %title= "Das neue Koop-Abenteuer mit deinen Freunden - Freeze Together"
    = stylesheet_link_tag 'backend'
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = yield :stylesheets
    = yield :javascripts
    %meta{ name: 'robots', content: 'noindex,follow' }
  %body
    - if content_for(:no_header)
      = yield
    - else
      = render 'layouts/backend/header'
      = render 'layouts/backend/navigation'
      = render 'layouts/backend/flash'
      = yield
      = render 'layouts/backend/footer'
    = javascript_include_tag 'application.js'
