!!!
%html
  %head
    %title= "Freeze Together"
    = stylesheet_link_tag 'frontend'
    = favicon_link_tag 'favicon.png'
    = csrf_meta_tags
    = yield :stylesheets
    = yield :javascripts
    %meta{ name: 'robots', content: 'noindex,follow' }
  %body
    - if content_for(:no_header)
      = flash_messages
      = yield
    - else
      = render 'layouts/frontend/header'
      = yield
      = render 'layouts/frontend/footer'
    = javascript_include_tag 'application.js'
